@import (reference) "base.less";
//手机

@media (max-width: 1420px) {
    .banner-text-conns{
        top: 54px;
        h1{font-size: 44px;}
    }
}
@media screen and (max-width: 414px) {
    .banner .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 10px;
    }
    .banner .swiper-slide a img{height: 38vw;}
    .banner-text-conns{
        .pos; top: 16px;
        left: 0;
        width: 100%;margin-left: 0px;
        h1{font-size: 18px;}
        p{font-size: 14px;margin-top: 10px;}
        a{margin-top: 10px;}
    }
    .mobile-head{display: block;}
    .mobile-head .logo img{width: 84px;}
    .mobileNav{top: 84px}
    .pc-nav{display: none;}
    .footer .top{padding: 32px 0 26px 0;}
    .footer .top .logo{display: none;}
    .footer .top .lx{float: left;}
    .footer .bottom{line-height: 56px;.bor_tt}
    .footer .bottom .fr{float: left;}
    .banner1{height: 172px;padding-top:42px;background-size: 236% auto;
        h1{font-size: 30px}
        p{margin: 15px 0 20px 0;font-size: 16px;}
    }
    .titlebox{
        h2{font-size: 30px;}
        h2::after,h2::before{width: 30%;}
    }
    .titlebox2 .tab{height: 50px;}
    .titlebox2 .tab > div{line-height: 50px;font-size: 17px;}
    .titlebox2 .tab1 > div{width: 130px;}
    .titlebox2 .tab2 > div{width: 160px;}
    .titlebox3 .fl h3{font-size: 24px;}
    .titlebox3 .fl p{font-size: 14px;}
    .titlebox3 a{line-height: 46px;font-size: 14px;}
    .tabbox{display: none;}
    .mobile-tabbox{display: block;}
    .er-tab{margin-top: 14px;}
    .er-tab li{padding: 0 8px; margin: 0 12px 12px 0;font-size: 12px;line-height: 24px;}
    .dialog-wrap .dialog-box{width: 86%;
        .dialog-header{padding: 8px 17px;}
        .dialog-header font{font-size: 14px;}
        .dialog-close-btn{top: 10px;right: 16px;}
        .dialog-close-btn img{width: 14px;}
    }
    .dialog-box1{
        .hint{height: 38px;line-height: 38px;font-size: 14px;}
        .content{padding: 0 6%; padding-top: 14px;padding-bottom: 14px;height: 310px;overflow-y: scroll}
        .sbtn{width: 40%;height: 36px;font-size: 16px;}
    }
    .dialog-wrap .dialog-box2{width: 86%;}
    .dialog-box2 .content{
        padding: 60px 0;
        img{width: 160px;}
        h2{margin-top: 32px;font-size: 26px;}
        p{font-size: 16px;}
    }
    .form-item{margin-bottom: 12px;}
    .form-item label{margin-bottom: 10px;font-size: 14px;font-weight: normal;}
    .form-warp .form-item input[type="text"], .form-warp .form-item input[type="password"], .form-warp .form-item select{height: 38px;font-size: 14px;}
    .wrap1{padding: 36px 0 14px 0;
        .item{padding-left: 38%;margin-bottom: 22px;
            .img-box{width: 36%;}
            .time{margin-top: 2px;margin-bottom: 10px;}
        }
    }
    .wrap2{padding-top: 34px;margin-bottom: 1190px;
        .titlebox{margin-bottom: 28px;}
        .item{margin-bottom: 20px;}
    }
    .wrap4{padding-top: 0;}
    .wrap5{padding-bottom: 10px;}
    .wrap5 .item{margin-bottom: 20px;padding: 0 8px;}
    .wrap6{padding-top: 48px;
        .swiper-wrap{padding: 0 10px;margin-top: 30px;}
        .swiper-slide{
            .img-box{width: 160px;margin-bottom: 26px;}
            .kcname{font-size: 26px;margin-bottom: 18px;}
        }
    }
    .wrap16{padding-top: 26px;
        .left{display: none;}
        .right{width: 100%;}
        .right .desc{font-size: 14px;}
        .titlebox3{margin-bottom: 10px;}
        .list{margin-top: 28px;}
        .item{margin-bottom: 22px;}
        .item img{width: 50px;}
        .item h3{margin-bottom: 8px;font-size: 16px;}
    }
    .wrap3-1,.wrap3-2{padding-top: 30px;}
    .wrap3{padding-bottom: 18px;
        .item{padding: 16px 14px 14px 14px;margin-bottom: 18px;
            .describe,.img-box{height: 90px;overflow: hidden;}
            .img-box {margin-top: 16px;}
            
            h4{font-size: 15px;line-height: 18px;}
            .describe{margin-top: 16px;}
            .describe p{.text-overflow(4);line-height:19px}
        }
    }
    .wrap7{
        .titlebox2{margin-bottom: 24px;}
        .swiper-slide{
            img{height: 230px;}
            .tibox{padding-right: 42px;font-size: 16px;line-height: 44px;}
        }
        .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{bottom: 10px;}
        .item{padding-bottom: 18px;margin-bottom: 18px;
            .left p:first-child{font-size: 28px;}
            .right p:first-child{font-size: 16px;}
            .time{margin-top: 6px;}
        }
    }
    .wrap8{padding-top: 8px;padding-bottom: 0;}
    .teacher-list .item{padding-left: 30%;height: auto;margin-bottom: 14px;
        .img-box{width: 30%;height: 118px;}
        .cont{padding: 14px 12px;}
        .desc{line-height: 18px;font-size: 14px;margin-bottom: 4px;margin-top: 8px;}
        .name{font-size: 20px;}
        .position{margin-left: 12px;font-size: 14px;}
    }
    .wrap9{padding-top: 24px;padding-bottom: 40px;
        .swiper-slide{padding:14px;height: auto;}
        .item{
            .head-img{margin-right: 14px;width: 30%;}
            h2{font-size: 20px;}
            .vCenter span{font-size: 14px;}
            .vCenter img{margin-right: 4px;}
            .textEll{margin-bottom: 10px;}
        }
    }
    .wrap9.wrap9-1{padding-bottom: 0;}
    .owl-carousel1{padding: 12px;}
    .owl-carousel .owl-item img{width: 40%;height: 100%;}
    .wrap10{padding-top: 30px;padding-bottom: 26px;
        .titlebox3{margin-bottom: 18px;}
        .item{height: auto;
            .item-content{padding: 22px;overflow: hidden;}
            .xian{margin: 15px 0;}
            h2{font-size: 20px;}
            .text{line-height: 22px;}
            .btn{margin-top: 18px;}
        }
    }
    .img-wrap .item{margin-bottom: 18px;}
    .wrap11,.wrap12{ .mobile-tabbox{margin-bottom: 20px;}}
    .wenzlist .item{padding: 20px 0;
        .time{font-size: 20px;}
        .heng{margin-top: 12px;margin-bottom: 14px;}
    }
    .wrap-Contact{
        padding-bottom: 26px;
        .tTitle{font-size: 20px;margin-bottom: 8px;}
        .left-wrap{border: none; 
            h1{font-size: 30px;margin-bottom: 18px;}
            p{font-size: 16px;margin-bottom: 5px;}
        }
        .right-wrap{margin-top: 10px;
            p{font-size: 16px;margin-bottom: 8px;}
        }
        &>.container{margin-top: 20px;}
    }
    .wrap17.wrap17-2{
        .right-wrap{margin-top: -100px;margin-bottom: 40px;padding: 26px 14px;
            .swiper-slide{
                .img-box{width: 134px;margin-top: 20px;}
                .kcname{margin: 20px 0 16px 0;font-size: 22px;}
                .text-overflow2{font-size: 13px;padding: 0 16px;}
            }
            .bbox{padding-top: 22px;margin-top: 22px;
                p:last-child{font-size: 22px;}
                p:first-child{font-size: 14px;}
                .btn3{width: 52%;height: 42px;border-radius: 21px;font-size: 18px;letter-spacing: 4px;margin-top: 20px;}
            }
            .btn2{width: 118px; top: 30px; font-size: 12px;height: 30px;line-height: 30px;}
        }
        .titlebox3{margin-bottom: 10px;}
    }
    .wrap18{padding-top: 36px;padding-bottom: 0px;}
    .wrap18 .item{padding: 34px 24px 30px 24px;width: 70%;.m0a;margin-bottom: 14px;
        .icon{width: 84px;}
        h2{margin-top: 24px;margin-bottom: 18px;font-size: 20px;}
        p{.text-overflow(2)}
        .btnhover{margin-top: 30px;height: 34px;line-height: 34px;width: 125px;font-size: 14px;}
    }
    .article-details-wrap{
        padding-top: 30px;
        .title{font-size: 26px;margin-bottom: 14px;}
        .adders{margin-bottom: 32px;font-size: 14px;}
        .img-box img{width: 66%;.m0a;}
        .img-box{margin-bottom: 14px;}
        .img-box>div{margin-bottom: 10px;}
        .img-box>div:last-child{margin-bottom: 0px;}
    }
    .new-details-wrap .content{padding-top: 22px;padding-bottom: 16px;}
    .new-details-wrap .title{font-size: 22px;margin-bottom: 14px;}
    .new-details-wrap .adders span:last-child{margin-left: 24px;}
    .new-details-wrap .adders{margin-bottom: 20px;}
    .new-details-wrap .huwenb{padding-top: 18px;}
    .new-details-wrap .huwenb p{line-height: 22px;text-align: justify}
    .new-details-wrap .tuiji h2{padding: 20px 0 6px 0;}
    .new-details-wrap .tuiji .item{padding: 16px 0;}
    .new-details-wrap .tuiji .item .item-title{margin-top: 14px;}
    .wrap14{margin-top: 24px;padding: 20px 0;}
    .wrap14 .next{text-align: left;margin-top: 10px;}
    .wrap7.istab .mobile-tabbox{margin-bottom: 14px;}
    .wrap15{padding: 30px 0;}
    .wrap7 .left-img .item .right{padding-left: 104px;}
    .experts-wrap{margin-top: 18px;}
    .experts-wrap .portrait img{width: 80%;margin: 0 auto;margin-bottom: 10px;}
    .experts-wrap .detail-box{padding: 10px;}
    .wrap19{
        padding-bottom: 14px;
        .item{
            padding: 16px 12px 16px 12px;
            margin-bottom: 18px;
            .head-img{width: 26%;margin-right: 14px;}
            .vCenter{margin-top: 2px;}
            .vCenter img{width: 12px;}
            .vCenter span{font-size: 14px;}
            h2{font-size: 20px;}
        }
    }
    .wrap20{
        padding-top: 26px;
        .titlebox3{margin-bottom: 24px;}
        .item{
            .img-box {width: 54%;}
            .img-box img{width: 100%;}
            .right-box{padding: 16px 14px 0 14px;}
            .name{.f20;}
            .position{.f12;;.ml(14);}
            .desc{.f14;line-height: 20px;.mt(10);.mb(12)}
        }
        .swiper-button-next, .swiper-button-prev{width: 42px;height: 42px;background-size: 10px 18px;};
    }
    .home-yqhz-wrap{
        padding-top: 30px;
        padding-bottom: 40px;
        .titlebox{margin-bottom: 20px;}
    }
    .xyfc-wrap{
        padding-top: 62px;
        .swiper-button-next, .swiper-button-prev{width: 42px;height: 42px;background-size: 10px 18px;};
        .item{
            .main-content{width: 212px;height: 230px;padding: 26px 18px 0 18px;}
            .main-content::after{.cler;.pos;left: 50%;top: -30px; width: 1px;height: 30px;background-color: #ecede7}
            .main-content h2{font-size: 17px;}
            .cont{height: 134px;margin-top: 22px;}
            .cont p{font-size: 14px;color: #696969;line-height: 22px;.text-overflow(6)}
        }
    }
}
@media screen and (max-width: 375px) {
    .wrap20 .item .img-box{width: 68%;}
    .wrap19 .item .head-img{width: 35%;}
    .wrap2{margin-bottom: 1110px;}
}
@media screen and (max-width: 320px) {
    .wrap20 .item .img-box{width: 106%;}
    .wrap19 .item h2{font-size: 16px;}
}
@media (max-width: 1320px) {
    .wrap16{
        .left{display: none;}
        .right{width: 100%;}
    }
}
@media (min-width: 992px) and (max-width: 1320px) {
    
    .wrap16{
        .left{display: none;}
        .right{width: 100%;}
        .row>div.right-wrap{width: 100%;}
        .item{width: 50%;}
    }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 420px ) and (max-width: 768px) {
    .mobile-head{display: block;}
    .banner1{height: 260px;padding-top:72px;background-size: 180% auto;
        h1{font-size: 30px}
        p{margin: 15px 0 20px 0;font-size: 16px;}
    }
    .dialog-wrap .dialog-box{width: 70%;
        .dialog-header{padding: 8px 17px;}
        .dialog-header font{font-size: 14px;}
        .dialog-close-btn{top: 10px;right: 16px;}
        .dialog-close-btn img{width: 14px;}
    }
    .dialog-box1{
        .hint{height: 38px;line-height: 38px;font-size: 14px;}
        .content{padding: 0 6%; padding-top: 14px;padding-bottom: 14px; height: 310px;overflow-y: scroll}
        .sbtn{width: 230px;height: 40px;font-size: 16px;}
    }
    .dialog-wrap .dialog-box2{width: 446px;}
    .dialog-box2 .content{
        padding: 60px 0;
        img{width: 160px;}
        h2{margin-top: 32px;font-size: 26px;}
        p{font-size: 16px;}
    }
    .form-item{margin-bottom: 12px;}
    .form-item label{margin-bottom: 10px;font-size: 14px;font-weight: normal;}
    .form-warp .form-item input[type="text"], .form-warp .form-item input[type="password"], .form-warp .form-item select{height: 38px;font-size: 14px;}
    .wenzlist .item{padding: 28px 0 22px 0;}
    .wrap17.wrap17-2{
        .right-wrap{width: 74%;.m0a;margin-top: -126px;margin-bottom: 40px;}
        .titlebox3{margin-bottom: 10px;}
    }
    .wrap18 .item{padding: 34px 24px 30px 24px;width: 60%;.m0a;margin-bottom: 14px;
        .icon{width: 84px;}
        h2{margin-top: 24px;margin-bottom: 18px;font-size: 20px;}
        p{.text-overflow(2)}
        .btnhover{margin-top: 30px;height: 34px;line-height: 34px;width: 125px;font-size: 14px;}
    }
    .new-details-wrap .content{padding-top: 22px;padding-bottom: 16px;}
    .new-details-wrap .title{font-size: 22px;margin-bottom: 14px;}
    .new-details-wrap .adders span:last-child{margin-left: 24px;}
    .new-details-wrap .adders{margin-bottom: 20px;}
    .new-details-wrap .huwenb{padding-top: 18px;}
    .new-details-wrap .huwenb p{line-height: 22px;text-align: justify}
    .new-details-wrap .tuiji h2{padding: 20px 0 6px 0;}
    .new-details-wrap .tuiji .item{padding: 16px 0;}
    .new-details-wrap .tuiji .item .item-title{margin-top: 14px;}
    .wrap14{margin-top: 24px;padding: 20px 0;}
    .wrap14 .next{text-align: left;margin-top: 10px;}
    .experts-wrap{margin-top: 18px;}
    .experts-wrap .portrait img{width: 80%;margin: 0 auto;margin-bottom: 10px;}
    .experts-wrap .detail-box{padding: 20px;}
    
}

@media (max-width: 992px) {
    .head-fixed-top{display: none;}
    .wrap17-2{display: block;}
    .wrap17-1{display: none;}
    .footer .top .wzinfo{padding-bottom: 22px;}
    .footer .top .lx{float: left;margin-top: 0;}
}
@media (min-width: 768px){
    .navbar-toggle {
        display: block;
    }
}
@media (min-width: 768px ) and (max-width: 992px) {
    .banner .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
            bottom: 20px;
        }
    .banner .swiper-slide a img{height: 260px;}
    .banner-text-conns{
        .pos; top: 36px;
        width: 750px;margin-left: -375px;
        h1{font-size: 30px;}
    }
    .mobile-head{display: block;}
    .navbar-toggle{display: block;}
    .banner1{height: 350px;padding-top:110px;background-size: 162% auto;
        h1{font-size: 50px}
    }
    .titlebox{
        h2::after,h2::before{width: 35%;}
    }
    .titlebox2 .tab{height: 54px;}
    .titlebox2 .tab > div{line-height: 54px;font-size: 24px;}
    .titlebox2 .tab1 > div{width: 130px;}
    .titlebox2 .tab2 > div{width: 250px;}
    .dialog-wrap .dialog-box{width: 80%;}
    .dialog-wrap .dialog-box .dialog-header{padding: 14px 16px;}
    .dialog-wrap .dialog-box .dialog-close-btn{top: 16px;}
    .dialog-box1{
        .hint{height: 38px;line-height: 38px;font-size: 14px;}
        .content{padding: 0 6%; padding-top: 20px;padding-bottom: 20px;}
    }
    .dialog-wrap .dialog-box2{width: 446px;}
    .dialog-box2 .content{
        padding: 60px 0;
        img{width: 160px;}
        h2{margin-top: 32px;font-size: 26px;}
        p{font-size: 16px;}
    }
    .form-item{margin-bottom: 14px;}
    .form-item label{margin-bottom: 10px;font-size: 14px;}
    .form-warp .form-item input[type="text"], .form-warp .form-item input[type="password"], .form-warp .form-item select{height: 52px;}
    .wrap2{height: 408px; margin-bottom: 116px;}
    .wrap2 .item{
        .top{padding: 20px;}
        h3{.f22;line-height: 68px;}
        p{.mt(16);line-height: 21px;}
    }
    .wrap5{padding-bottom: 48px;}
    .wrap5 .item{margin-bottom: 20px;padding: 0 8px;}
    .wrap6{
        .swiper-wrap{padding: 0 28px;}
    }
    .wrap16{padding-top: 40px;
        .list{margin-top: 36px;}
        .item{margin-bottom: 30px;}
    }
    .wrap3{padding-bottom: 18px;
        .item{
            .describe,.img-box{height: 176px;}
            .describe p{font-size: 14px;}
        }
    }
    .wrap9.wrap9-1{padding-bottom: 0;}
    .wenzlist .item{padding: 28px 0 22px 0;}
    .wrap-Contact .tabbox{margin-bottom: 46px;}
    .wrap-Contact .left-wrap{border: none}
    .wrap17{
        .right-wrap{margin-top: -126px;margin-bottom: 40px;}
        .titlebox3{margin-bottom: 10px;}
    }
    .wrap18 .item{padding: 34px 24px 30px 24px;
        .icon{width: 84px;}
        h2{margin-top: 24px;margin-bottom: 18px;font-size: 20px;}
        p{.text-overflow(2)}
        .btnhover{margin-top: 30px;height: 34px;line-height: 34px;width: 125px;font-size: 14px;}
    }
    .new-details-wrap .content{padding-top: 22px;padding-bottom: 16px;}
    .new-details-wrap .title{font-size: 22px;margin-bottom: 14px;}
    .new-details-wrap .adders span:last-child{margin-left: 24px;}
    .new-details-wrap .adders{margin-bottom: 20px;}
    .new-details-wrap .huwenb{padding-top: 18px;}
    .new-details-wrap .huwenb p{line-height: 22px;text-align: justify}
    .new-details-wrap .tuiji h2{padding: 20px 0 6px 0;}
    .new-details-wrap .tuiji .item{padding: 16px 0;}
    .new-details-wrap .tuiji .item .item-title{margin-top: 14px;}
    .wrap14{margin-top: 24px;padding: 20px 0;}
    .wrap14 .next{text-align: left;margin-top: 10px;}
    .experts-wrap{margin-top: 18px;}
    .experts-wrap .portrait img{width: 80%;margin: 0 auto;margin-bottom: 10px;}
    .experts-wrap .detail-box{padding: 20px;}
    .xyfc-wrap{
        padding-top: 62px;
        .item{
            .main-content{width: 212px;height: 230px;padding: 26px 18px 0 18px;}
            .main-content::after{.cler;.pos;left: 50%;top: -30px; width: 1px;height: 30px;background-color: #ecede7}
            .main-content h2{font-size: 17px;}
            .cont{height: 134px;margin-top: 22px;}
            .cont p{font-size: 14px;color: #696969;line-height: 22px;.text-overflow(6)}
        }
    }
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) and (max-width: 1200px){
    .banner .swiper-slide a img{height: 300px;}
    .banner-text-conns{
        .pos; top: 46px;
        width: 970px;margin-left: -485px;
        h1{font-size: 34px;}
    }
    .head-fixed-top .logo a img{width: 136px;}
    .head-box-nav li{margin-right: 30px;}
    .head-box-right{padding-top: 10px;}
    .titlebox{
        h2::after,h2::before{width: 35%;}
    }
    .dialog-wrap .dialog-box{width: 80%;}
    .dialog-wrap .dialog-box .dialog-header{padding: 14px 16px;}
    .dialog-wrap .dialog-box .dialog-close-btn{top: 16px;}
    .dialog-box1{
        .hint{height: 38px;line-height: 38px;font-size: 14px;}
        .content{padding: 0 6%; padding-top: 20px;padding-bottom: 20px;}
    }
    .form-item{margin-bottom: 14px;}
    .form-item label{margin-bottom: 10px;font-size: 14px;}
    .form-warp .form-item input[type="text"], .form-warp .form-item input[type="password"], .form-warp .form-item select{height: 52px;}
    .wrap1{padding-top: 68px;}
    .wrap10 .item.heng .item-content{padding: 38px 20px;}
    .wrap3{padding-bottom: 18px;
        .item{padding: 20px 18px;
            h4{line-height: 20px;}
            .describe,.img-box{height: 106px;}
            .describe p{font-size: 14px;.text-overflow(4)}
        }
    }
    .wenzlist .item{padding: 30px 0 24px 0;}
    .wrap-Contact .tabbox{margin-bottom: 60px;}
    .wrap18 .item{padding: 34px 24px 30px 24px;}
    .experts-wrap .portrait img{width: 153%;}
    .wrap20{
        .item{
            .img-box img{width: 168px;}
            .right-box{padding: 18px 24px 0 24px;}
            .position{.ml(16);}
            .desc{line-height: 26px;.mt(16);.mb(22)}
        }
    }
    .xyfc-wrap{
        padding-top: 62px;
        .item{
            .main-content{width: 212px;height: 230px;padding: 26px 18px 0 18px;}
            .main-content::after{.cler;.pos;left: 50%;top: -30px; width: 1px;height: 30px;background-color: #ecede7}
            .main-content h2{font-size: 17px;}
            .cont{height: 134px;margin-top: 22px;}
            .cont p{font-size: 14px;color: #696969;line-height: 22px;.text-overflow(6)}
        }
    }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
    .head-fixed-top .logo a{width: auto;}
    .head-box-right{padding-top: 22px;}
    .head-box-nav li{.mr(42);}
    .banner1{height: 450px;background-image: url('../images/jpg/banner2.jpg');background-size: 1920px 450px;background-position: center center;padding-top: 150px;} 
    .banner1 p{margin: 24px 0 35px 0;}
    .wrap16{padding-top: 54px;
        .list{margin-top: 68px;}
        .item{margin-bottom: 48px;}
    }
    .wrap3{padding-bottom: 18px;
        .item{padding: 34px 26px 26px 26px;.mb(28);
            .describe,.img-box{height: 132px;}
            .describe p{font-size: 14px;.text-overflow(6)}
        }
    }
 }