@charset "utf-8";
/* CSS Document */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.banner1 {
  height: 450px;
  background-image: url('../images/jpg/banner2.jpg');
  background-size: 1920px 450px;
  background-position: center center;
  padding-top: 150px;
}
.banner1 p {
  margin: 24px 0 35px 0;
}
.btnhover {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  cursor: pointer;
}
.btnhover:hover {
  transform: translate(0, 0);
  -webkit-transform: translate(0, -4px);
  -moz-transform: translate(0, -4px);
  -ms-transform: translate(0, -4px);
  -o-transform: translate(0, -4px);
  transform: translate(0, -4px);
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s;
}
.menu-container {
  padding: 0;
}
.notice-wrap {
  background: #f2f2f2;
  padding: 26px 0;
}
.weather-box {
  line-height: 37px;
  background: #FFFFFF;
  border-radius: 19px;
  padding: 0 20px;
  vertical-align: middle;
}
.notice-wrap .swiper-slide {
  height: 37px !important;
}
.notice-wrap .swiper-wrapper {
  height: 37px !important;
}
.swiper-container1 {
  width: auto;
  height: 37px;
}
.wrap1 {
  padding: 84px 0 36px 0;
}
.wrap1 .item {
  margin-bottom: 38px;
}
.titlebox {
  position: relative;
}
.titlebox h2 {
  font-size: 36px;
  text-align: center;
  line-height: 1;
  position: relative;
}
.titlebox p {
  font-size: 16px;
  text-align: center;
  line-height: 1;
  margin-top: 13px;
}
.titlebox h2::after,
.titlebox h2::before {
  display: block;
  content: '';
  width: 40%;
  height: 1px;
  background-color: #e6e6e6;
  position: absolute;
  top: 50%;
}
.titlebox h2::after {
  left: 0;
}
.titlebox h2::before {
  right: 0;
}
.wrap2 {
  height: 428px;
  background: #f2f2f2;
  padding-top: 64px;
  margin-bottom: 210px;
}
.wrap2 .item {
  box-shadow: 5px 9px 40px 0px rgba(76, 76, 76, 0.1);
}
.wrap2 .item .top {
  padding: 32px;
}
.wrap2 .item h3 {
  font-size: 30px;
  text-align: center;
  line-height: 96px;
  border-bottom: 1px solid #e6e6e6;
}
.wrap2 .item p {
  line-height: 27px;
  margin-top: 22px;
}
.tabbox {
  border-bottom: 1px solid #e6e6e6;
}
.tabbox li {
  font-size: 16px;
  color: #666666;
  margin-right: 52px;
  line-height: 72px;
  float: left;
  cursor: pointer;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}
.tabbox li a {
  display: block;
}
.tabbox li.active a,
.tabbox li a:hover {
  color: #eb3d00;
  border-bottom: 1px solid #eb3d00;
}
.img-wrap .item {
  margin-bottom: 38px;
  position: relative;
  cursor: pointer;
}
.img-wrap .item .info-box {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 45px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
  width: 100%;
  /* Center slide text vertically */
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}
.img-wrap .item:hover .info-box {
  height: 100%;
}
.er-tab li {
  float: left;
  line-height: 30px;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 14px;
  color: #666666;
  margin: 0 20px 20px 0;
  cursor: pointer;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}
.er-tab li.active,
.er-tab li:hover {
  color: #fff;
  background: #ec3d01;
}
.wrap4 {
  padding: 70px 0 32px 0;
}
.titlebox2 {
  position: relative;
  margin-bottom: 40px;
}
.titlebox2::before {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  position: absolute;
  top: 30px;
}
.titlebox2 .tab {
  display: inline-block;
  border: 1px solid #e5e5e5;
  height: 61px;
  background: #FFFFFF;
  position: relative;
  cursor: pointer;
}
.titlebox2 .tab > div {
  height: 100%;
  line-height: 61px;
  text-align: center;
  font-size: 30px;
  color: #999999;
  position: relative;
}
.titlebox2 .tab > div:first-child {
  border-right: 1px solid #e6e6e6;
}
.titlebox2 .tab > div.active,
.titlebox2 .tab > div:hover {
  color: #202020;
}
.titlebox2 .tab > div.active::after {
  display: block;
  content: '';
  width: 40px;
  height: 5px;
  background-color: #eb3d00;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
}
.titlebox2 .tab1 > div {
  width: 188px;
}
.titlebox2 .tab2 > div {
  width: 303px;
}
.titlebox2 p {
  font-size: 16px;
  color: #999999;
  text-align: center;
  line-height: 1;
  margin-top: 12px;
}
.titlebox3 {
  margin-bottom: 32px;
}
.titlebox3 a {
  font-size: 16px;
  line-height: 54px;
}
.titlebox3 a:hover {
  color: #eb3d00;
}
.wrap3 {
  padding-bottom: 59px;
}
.wrap3 .item {
  padding: 34px 26px 26px 26px;
  margin-bottom: 28px;
}
.wrap3 .item .describe {
  line-height: 23px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  -webkit-box-orient: vertical;
}
.wrap5 {
  padding: 68px 0 80px 0;
  background-image: url('../images/jpg/pic7.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1920px 940px;
}
.wrap5 .titlebox {
  margin-bottom: 50px;
}
.wrap5 .titlebox h2::after,
.wrap5 .titlebox h2::before {
  background-color: #4d4d4d;
}
.wrap5 .item .desc-box {
  padding: 18px 20px 14px 20px;
}
.wrap5 .item .name {
  margin-bottom: 8px;
}
.wrap6 {
  padding: 78px 0 60px 0;
  background-image: url('../images/jpg/pic8.jpg');
}
.wrap6 .swiper-slide .img-box {
  width: 222px;
  height: 222px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 39px;
}
.wrap6 .swiper-slide .kcname {
  margin: 18px 0 30px 0;
}
.wrap6 .swiper-slide .btn {
  width: 133px;
  height: 44px;
  background-image: linear-gradient(262deg, #7a41d8 0%, #6151fa 100%), linear-gradient(#502ed7, #502ed7);
  background-blend-mode: normal, 
		normal;
  box-shadow: 5px 9px 20px 0px 
		#2c177e;
  border-radius: 22px;
  text-align: center;
  line-height: 44px;
  margin-top: 42px;
  padding: 0;
  color: #FFFFFF;
  font-size: 16px;
}
.wrap6 .swiper-slide .img-box img {
  width: 100%;
  height: 100%;
}
.swiper-container2 {
  padding: 0 72px;
  margin-top: 50px;
}
.swiper-container2 .swiper-button-next,
.swiper-container2 .swiper-button-prev {
  width: 14px;
  height: 26px;
  background-size: 14px 26px;
}
.swiper-container2 .swiper-button-prev,
.swiper-container2 .swiper-container-rtl .swiper-button-next {
  background-image: url('../images/png/pic12.png');
}
.swiper-container2 .swiper-button-next,
.swiper-container2 .swiper-container-rtl .swiper-button-prev {
  background-image: url('../images/png/pic11.png');
}
.wrap7 .tabbox {
  margin-bottom: 48px;
}
.wrap7.istab {
  padding-bottom: 42px;
}
.wrap7 .swiper-slide img {
  width: 100%;
  height: 352px;
}
.wrap7 .swiper-slide .tibox {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 55px;
  background-color: rgba(235, 61, 0, 0.8);
  color: #FFFFFF;
  font-size: 18px;
  padding-left: 22px;
}
.wrap7 .swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 15px;
}
.wrap7 .swiper-pagination {
  text-align: right;
  padding-right: 22px;
}
.wrap7 .swiper-pagination-bullet-active {
  background: #FFFFFF;
}
.wrap7 .list {
  padding-top: 26px;
}
.wrap7 .item {
  padding-bottom: 30px;
  margin-bottom: 32px;
  border-bottom: 1px solid #e6e6e6;
}
.wrap7 .item:last-child {
  margin-bottom: 0;
}
.wrap7 .item .left {
  position: absolute;
  top: 0;
  left: 0;
}
.wrap7 .item .time {
  margin-top: 8px;
}
.wrap7 .item .right {
  padding-left: 70px;
  padding-top: 7px;
}
.wrap8 {
  padding-top: 54px;
  padding-bottom: 30px;
}
.teacher-list .item {
  height: 233px;
  padding-left: 223px;
  margin-bottom: 28px;
}
.teacher-list .item .img-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 223px;
  height: 233px;
}
.teacher-list .item .img-box img {
  width: 100%;
  height: 100%;
}
.teacher-list .item .cont {
  background: #f5f5f5;
  padding: 36px 34px;
  height: 100%;
}
.teacher-list .item .name {
  font-size: 24px;
  color: #202020;
  line-height: 1;
}
.teacher-list .item .position {
  font-size: 14px;
  color: #666666;
  line-height: 23px;
  margin-left: 24px;
}
.teacher-list .item .desc {
  font-size: 16px;
  color: #666666;
  line-height: 29px;
  margin-top: 28px;
  margin-bottom: 36px;
}
.teacher-list .item a {
  font-size: 14px;
  color: #eb3d00;
}
.wrap9 {
  background-color: #f5f5f5;
  padding-top: 54px;
  padding-bottom: 73px;
}
.wrap9 .swiper-slide {
  height: 215px;
  background-color: #fff;
  border-radius: 6px;
  padding: 39px 41px;
}
.wrap9 .swiper-slide-active {
  z-index: 99;
}
.wrap9 .swiper-slide-next,
.wrap9 .swiper-slide-prev {
  background-color: #FBFBFB;
  z-index: 88;
  opacity: .6;
}
.wrap9 .swiper-slide-next {
  transform: translateX(-50%) scale(0.6);
}
.wrap9 .swiper-slide-prev {
  transform: translateX(50%) scale(0.6);
}
.wrap9 .item .head-img {
  margin-right: 37px;
}
.wrap9 .item .textEll {
  margin-bottom: 18px;
}
.wrap9 .swiper-button-next,
.wrap9 .swiper-button-prev {
  width: 14px;
  height: 26px;
  background-size: 14px 26px;
  top: 38%;
}
.wrap9 .swiper-button-prev,
.wrap9 .swiper-container-rtl .swiper-button-next {
  background-image: url('../images/png/pic23.png');
}
.wrap9 .swiper-button-next,
.wrap9 .swiper-container-rtl .swiper-button-prev {
  background-image: url('../images/png/pic22.png');
}
.wrap10 {
  background-color: #f5f5f5;
  padding-top: 54px;
  padding-bottom: 60px;
}
.wrap10 .item {
  height: 330px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}
.wrap10 .item .item-content {
  padding: 38px 48px;
}
.wrap10 .item .xian {
  width: 70px;
  height: 1px;
  background-color: #eb3d00;
  margin: 24px 0;
  text-align: justify;
}
.wrap10 .item .text {
  line-height: 28px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.wrap10 .item .btn {
  display: block;
  width: 100px;
  height: 34px;
  background-color: #eb3d00;
  border-radius: 17px;
  margin-top: 32px;
}
.owl-carousel1 {
  padding: 12px 0;
}
.wrap11 .tabbox,
.wrap12 .tabbox {
  margin-bottom: 50px;
}
.wenzlist .item {
  padding: 52px 0 34px 0;
  border-bottom: 1px solid #e6e6e6;
}
.wenzlist .item:hover {
  background: #fafafa;
  cursor: pointer;
}
.wenzlist .item .heng {
  line-height: 1;
  margin-top: 18px;
  margin-bottom: 26px;
}
.wrap-Contact {
  padding-bottom: 38px;
}
.wrap-Contact .tabbox {
  margin-bottom: 99px;
}
.wrap-Contact .tTitle {
  font-size: 24px;
  color: #eb3d00;
  letter-spacing: 3px;
  line-height: 1;
  padding-left: 18px;
  border-left: 1px solid #eb3d00;
  margin-bottom: 18px;
}
.wrap-Contact .left-wrap {
  padding-top: 12px;
  border-right: 1px solid #e5e5e5;
}
.wrap-Contact .left-wrap h1 {
  font-size: 80px;
  margin-bottom: 40px;
}
.wrap-Contact .left-wrap p {
  font-size: 18px;
  color: #666666;
  line-height: 1;
  margin-top: 8px;
}
.wrap-Contact .right-wrap {
  padding-top: 3px;
}
.wrap-Contact .right-wrap P {
  font-size: 16px;
  color: #666666;
  line-height: 1;
  margin-bottom: 32px;
}
.article-details-wrap {
  padding-top: 64px;
}
.article-details-wrap .title {
  margin-bottom: 20px;
}
.article-details-wrap .adders {
  margin-bottom: 52px;
}
.article-details-wrap .img-box {
  margin-bottom: 34px;
}
.article-details-wrap .content p {
  line-height: 24px;
  margin-bottom: 28px;
}
.article-details-wrap .content .h1 {
  font-size: 24px;
  color: #eb3d00;
}
.new-details-wrap .content {
  padding-top: 56px;
}
.new-details-wrap .title {
  margin-bottom: 22px;
}
.new-details-wrap .adders {
  margin-bottom: 40px;
}
.new-details-wrap .adders span:last-child {
  margin-left: 50px;
}
.new-details-wrap .huwenb {
  padding-top: 30px;
}
.new-details-wrap .tuiji {
  background-color: #f5f5f5;
  padding-bottom: 20px;
}
.new-details-wrap .tuiji h2 {
  padding: 58px 0 16px 0;
}
.new-details-wrap .tuiji .item {
  display: block;
  padding: 25px 0;
  border-bottom: 1px solid #e6e6e6;
}
.new-details-wrap .tuiji .item .item-title {
  margin-top: 20px;
  line-height: 1;
}
.wrap14 {
  background-color: #f5f5f5;
  padding: 48px 0;
  margin-top: 64px;
}
.wrap14 .next {
  text-align: right;
}
.wrap15 {
  padding-top: 66px;
  padding-bottom: 85px;
}
.wrap15 .item {
  margin-bottom: 20px;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  cursor: pointer;
}
.wrap15 .item .info-box {
  line-height: 42px;
  background: #FFFFFF;
  text-align: center;
}
.wrap15 .item:hover {
  transform: translate(0, 0);
  -webkit-transform: translate(0, -4px);
  -moz-transform: translate(0, -4px);
  -ms-transform: translate(0, -4px);
  -o-transform: translate(0, -4px);
  transform: translate(0, -4px);
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s;
}
.wrap15 .item:hover .info-box {
  color: #eb3d00;
}
.experts-wrap {
  margin-top: 50px;
}
.experts-wrap .portrait img {
  width: 136%;
  position: relative;
  z-index: 9;
}
.experts-wrap .detail-box {
  padding: 50px 40px 50px 130px;
}
.experts-wrap .detail-box .name {
  font-size: 36px;
  color: #202020;
  line-height: 1;
}
.experts-wrap .detail-box .zhiwei {
  font-size: 18px;
  color: #666666;
  margin-left: 16px;
}
.experts-wrap .detail-box .vCenter {
  margin-bottom: 26px;
}
.experts-wrap .detail-box p {
  line-height: 32px;
  font-size: 16px;
  color: #666666;
}
.experts-wrap .detail-box .title2 {
  font-size: 24px;
  color: #202020;
  line-height: 1;
  margin-top: 22px;
  margin-bottom: 10px;
}
.wrap16 {
  padding-top: 54px;
}
.wrap16 .right {
  width: 580px;
}
.wrap16 .titlebox3 {
  margin-bottom: 28px;
}
.wrap16 .list {
  margin-top: 68px;
}
.wrap16 .item {
  margin-bottom: 48px;
}
.wrap16 .item:last-child {
  margin-bottom: 0;
}
.wrap16 .right .item h3 {
  margin-bottom: 14px;
}
.wrap16 .right .item img {
  margin-right: 20px;
}
.wrap17 {
  padding-top: 70px;
  padding-bottom: 30px;
}
.wrap17 .item {
  padding: 28px 0 24px 0;
}
.wrap17 .item p:last-child {
  margin-top: 14px;
}
.wrap17 .item:first-child {
  margin-top: 12px;
}
.wrap17 .btn1 {
  display: block;
  width: 160px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  border: solid 1px #eb3d00;
  font-size: 16px;
  color: #eb3d00;
  text-align: center;
  margin-top: 32px;
}
.wrap17 .right-wrap {
  position: relative;
  margin-top: -166px;
  height: 728px;
  background-color: #5d4df6;
  box-shadow: 0px 16px 28px 0px rgba(61, 50, 172, 0.22);
  border-radius: 10px;
  padding: 54px 66px 0 66px;
}
.wrap17 .right-wrap .btn2 {
  position: absolute;
  top: 53px;
  right: 0;
  width: 135px;
  height: 34px;
  line-height: 34px;
  background-image: linear-gradient(90deg, #a097f8 0%, #715bf7 100%), linear-gradient(#000000, #000000);
  background-blend-mode: normal, 
				normal;
  border-radius: 17px 0px 0px 17px;
  font-size: 14px;
  color: #fad218;
  text-align: center;
}
.wrap17 .right-wrap .swiper-slide .img-box {
  margin-top: 28px;
  width: 177px;
  height: 177px;
  margin-bottom: 0;
}
.wrap17 .right-wrap .swiper-slide .kcname {
  margin: 36px 0 24px 0;
}
.wrap17 .right-wrap .bbox {
  margin-top: 38px;
  padding-top: 42px;
  border-top: 1px solid #4b3ecd;
}
.wrap17 .right-wrap .btn3 {
  display: block;
  margin: 0 auto;
  width: 320px;
  height: 60px;
  background-color: #eba612;
  box-shadow: 0px 16px 28px 0px rgba(171, 120, 11, 0.22);
  border-radius: 30px;
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 7px;
  margin-top: 28px;
}
.wrap7-1 {
  padding-top: 82px;
}
.wrap18 {
  padding-top: 83px;
  padding-bottom: 85px;
}
.wrap18 .titlebox3 {
  margin-bottom: 38px;
}
.wrap18 .item {
  background-color: #f8f9fb;
  border-radius: 10px;
  padding: 62px 31px 57px 31px;
}
.wrap18 .item .icon {
  width: 103px;
  margin: 0 auto;
}
.wrap18 .item h2 {
  margin-top: 30px;
  margin-bottom: 22px;
}
.wrap18 .item .btnhover {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: 170px;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #5d4df6;
  text-align: center;
}
.dialog-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(55, 55, 55, 0.6);
  z-index: 1111;
}
.dialog-wrap .dialog-box {
  width: 59%;
  margin: 0 auto;
  margin-top: 80px;
  position: relative;
}
.dialog-wrap .dialog-box .dialog-close-btn {
  position: absolute;
  top: 22px;
  right: 40px;
  cursor: pointer;
}
.dialog-wrap .dialog-box .dialog-header {
  padding: 21px 46px;
  background: #ec3d01;
}
.dialog-box1 .hint {
  height: 88px;
  line-height: 88px;
  text-align: center;
  font-size: 18px;
  color: #333333;
  background-color: #f5f5f5;
}
.dialog-box1 .content {
  padding: 0 10%;
  padding-top: 42px;
}
.form-warp,
.form-warp form {
  width: 100%;
}
.form-item {
  margin-bottom: 24px;
}
.form-item label {
  margin-bottom: 14px;
}
.form-item label span {
  color: #ec3d01;
}
.form-warp .form-item input[type="text"],
.form-warp .form-item input[type="password"],
.form-warp .form-item select {
  width: 100%;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  padding-left: 16px;
  font-size: 16px;
  color: #333333;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.form-warp .form-item input[type="text"]:hover,
.form-box .form-item input[type="text"]:focus,
.form-warp .form-item input[type="password"]:hover,
.form-warp .form-item input[type="password"]:focus,
.form-warp .form-item select:hover,
.form-warp .form-item select:focus {
  border-color: #fe7200;
}
.form-warp .form-item input[type="text"]:focus,
.form-warp .form-item input[type="password"]:focus,
.form-warp .form-item select:focu {
  box-shadow: 0 0 0 3px rgba(254, 114, 0, 0.2);
  -webkit-box-shadow: 0 0 0 3px rgba(254, 114, 0, 0.2);
  -moz-box-shadow: 0 0 0 3px rgba(254, 114, 0, 0.2);
  -ms-box-shadow: 0 0 0 3px rgba(254, 114, 0, 0.2);
  -o-box-shadow: 0 0 0 3px rgba(254, 114, 0, 0.2);
}
.radio-group {
  padding: 28px 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  margin-top: 36px;
}
.form-warp .form-btn {
  margin-top: 34px;
}
.form-warp .form-btn input {
  width: 100%;
  height: 60px;
  border-radius: 4px;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  background: #2bb45c;
}
.form-warp .form-item textarea {
  height: 108px;
  border: solid 1px #d9d9d9;
  border-radius: 4px;
  width: 100%;
  padding: 20px 16px;
  resize: vertical;
}
.footer {
  background: #FFFFFF;
}
.footer .top {
  padding: 40px 0 36px 0;
}
.footer .top .logo {
  margin-right: 58px;
}
.footer .top .nav a {
  font-size: 14px;
  color: #333333;
  margin-right: 26px;
}
.footer .top .nav a:hover {
  color: #eb3d00;
}
.footer .top .wzinfo {
  padding-top: 14px;
}
.footer .top .wzinfo p {
  font-size: 12px;
  color: #999999;
  line-height: 1;
  margin-top: 10px;
}
.footer .top .wzinfo p a {
  font-size: 12px;
  color: #999999;
  line-height: 1;
}
.footer .top .lx {
  margin-top: 38px;
}
.footer .bottom {
  line-height: 56px;
  border-top: 1px solid #e6e6e6;
}
